
body{
  background-color: #FCE09B;
  font-style: oblique;  #9raya{
    color: red;

  }


}
.name{
  font-size: 30px;
 
}



img{
  display: block;
  margin :auto;

}


h1{

  font-size: 90px;
  color :  #18534f;
  font-variant-position: sub;
  text-align: center;
  

}
h2{
  font-size: 50px;
  color :B5CB99;
  font-variant-position: sub;
  text-align: center;
  color: #18534f ;
}


