
body{
  background-color: #FCE09B;
  font-style: oblique;
 
}


img{
weight: 100 px;
height: auto;
image-orientation
: center;
}
h1{
  font-size: xx-large;
  color :186F65;
  font-variant-position: sub;
}
h2{
  font-size: x-large;
  color :B5CB99;
  font-variant-position: sub;
}
#navigation__container{
  font-size: xx-large;

}
.Parc{
  
}